.new-expense {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 4px 5px 12px rgba(0,0,0,0.7);
}

@media (max-width: 450px){
    .new-expense{
        width: 360px;
    }
}